*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background : url(./assect/wp2731080.gif) no-repeat center center/cover;
  color: rgb(255, 247, 0);
}


header{
  margin: 40px;
  text-align: center;
}
.search{
 margin-left: 20%;
  
}
.url{
  margin: 10px;
  font-size: larger ;
  font-weight: 700;
}
#url{
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.btn{
  margin-left: 1rem;
  width: 70px;
  height: 30px;
  background-color: greenyellow;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
.loading{
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
.response{
  display: flex;
  margin: 5%;
  flex-basis: 50%;
}
.info{
  margin-left: 20px;
}
a{
  color: cyan;
}